/ListOfPropertie.class
/Organs.class
/Propertie.class
/PropertieQuantitative.class
/PropertieRelative.class
/PropertieSimple.class
/Result.class
/ListOfOrgans.class
/SimpleOrgans.class
/NameExtensions.class
